// Screen sizes
$mobile-xs: 320px;
$mobile-m: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
// Colors
$body-bg: #d8efd326;
$header-footer-bg: #95d2b4;
$links-color: #effff3;
$white: #fff;
$black: #000;
$hover-links: #F1F8E8;
// Hover time
$hover-time: .5s