@import '../../global_styles/mixins.scss';
@import '../../global_styles/variables.scss';

.header {
    box-sizing: border-box;
    background-color: $header-footer-bg;
    height: 9vh;

    &__wrapper {
        box-sizing: border-box;
        padding: 10px 20px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    &__logo {
        box-sizing: border-box;
        transition: all $hover-time;

        &:hover {
            transform: scale(1.1);
        }

        &_img {
            width: 50px;
            height: 50px;
        }
    }

    &__navbar {
        display: flex;
        gap: 50px;

        &_item {
            color: $white;
            text-decoration: none;
            font-size: 20px;
            line-height: 20px;
            font-weight: 400;

            position: relative;
            transition: all $hover-time;

            &:hover {
                transform: scale(1.2);
                color: $links-color;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                width: 0;
                height: 2px;
                background-color: $white;
                bottom: -2px;
                transition: all ease-in $hover-time;
            }

            &::after {
                left: 50%;
            }

            &::before {
                right: 50%;
            }

            &:hover::after,
            &:hover::before {
                width: 50%;
            }
        }
    }
}